.chart-wrapper {
    width: 100%;
    margin-top: 20px;
    background-color: #F7F4E9 !important;
}

.mainbox {
    padding: 4%;
}

.doughnut-box {
    padding-top: 8%;
    padding-right: 8%;

}
.doughnut-box .chartjs-render-monitor {
    /* height: 40vh !important;
    width: 20vw !important; */
    display: block !important;
    margin: auto !important;
    padding-right: 8% !important;

}

/* .doughnut {
    padding-bottom: 5%
} */

.source {
    display: block !important;
    margin: auto !important;
    font-size: .6rem !important;
    color: rgb(136, 135, 135) !important;
    font-style: italic  !important;
}

.boxTitle {
    text-decoration: underline;
    text-decoration-color: #FF5C62
}