nav.navbar.navbar-default {
    margin-bottom: 0;
}

.logo-image {
    width: 70px;
    height: auto;
}

/* alternate color: #E3E3E3 */
.navbar {
    background-color: #F7F4E9;
    /* background: -moz-linear-gradient(top, rgba(247,244,233,1) 64%, rgba(247,244,233,1) 75%, rgba(247,244,233,0.64) 84%, rgba(247,244,233,0.4) 90%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(247,244,233,1) 64%,rgba(247,244,233,1) 75%,rgba(247,244,233,0.64) 84%,rgba(247,244,233,0.4) 90%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(247,244,233,1) 64%,rgba(247,244,233,1) 75%,rgba(247,244,233,0.64) 84%,rgba(247,244,233,0.4) 90%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f4e9', endColorstr='#007db9e8',GradientType=0 ); */
} 

.navbar-brand, .nav-item a {
    color: black;
}

.navbar-brand {
    color: black;
    text-decoration: none;
}

.navbar-brand:hover, .nav-item a:hover {
    color: #FF5C62;
}

.active {
    color: #FF5C62;
}

.nav-item a {
    float: right;
}

.loginText {
    padding-left: 2px;
}

.logoText {
    padding-top: 2%;
    padding-left: 4%;
}

@media only screen and (min-width: 320px) and (max-width: 479px){ 
    
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    
}

@media only screen and (min-width: 992px){

}
