.userName {
  color: #FF5C62;
}

.logoutBtn {
  color: black;
}

.logoutBtn:hover {
  color: #FF5C62;
}

.MuiToolbar-root-221 {
  border-left: none !important;
}

.MuiPaper-elevation4-200 {
  box-shadow: none !important;
}

.MuiPaper-elevation4-32 {
  box-shadow: none !important;
}

.Dashboard-drawerPaper-9 {
  border-right: none !important;
}

.drawer-logo {
  width: 50px;
  height: auto;
  margin: auto;
  margin-right: 25px;
}

.listTxt>span {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 0.9rem !important;
  text-transform: uppercase !important;
}

/* Underline From Left effect from Hover.css */
.listTxt>span {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.listTxt>span:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #FF5C62;
  height: 3.5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.listTxt>span:hover:before,
.listTxt>span:focus:before,
.listTxt>span:active:before {
  right: 0;
}

.active .listTxt>span {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.active .listTxt>span:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF5C62;
  height: 3.5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


@media only screen and (min-width: 200px) and (max-width: 299px) {
  .Dashboard-avatar-16 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .MuiTypography-h6-95 {
    font-size: 0.7rem !important;
  }

  .userName {
    display: block;
    padding: 1px 8px;
    box-decoration-break: clone;
  }

  .logoutBtn {
    margin-right: -7%;
  }

  .listTxt>span {
    font-size: 0.8rem !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
  .Dashboard-avatar-16 {
    margin-left: 10% !important;
    margin-right: -15% !important;
  }

  .MuiTypography-h6-95 {
    font-size: 0.8rem !important;
  }

  .userName {
    display: block;
    padding: 1px 8px;
    box-decoration-break: clone;
  }

  .logoutBtn {
    margin-right: -5%;
  }

  .listTxt>span {
    font-size: 0.8rem !important;
  }

}

@media only screen and (min-width: 400px) and (max-width: 479px) {
  .Dashboard-avatar-16 {
    margin-left: -4% !important;
    margin-right: 2% !important;
  }

  .MuiTypography-h6-95 {
    font-size: 0.8rem !important;
  }

  .userName {
    display: block;
    padding: 1px 8px;
    box-decoration-break: clone;
  }

  .logoutBtn {
    margin-right: -5%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .Dashboard-avatar-16 {
    margin-left: 10% !important;
    margin-right: -10% !important;
  }

  .MuiTypography-h6-95 {
    font-size: 0.98rem !important;
  }

  .userName {
    display: block;
    padding: 1px 8px;
    box-decoration-break: clone;

  }
}

@media only screen and (min-width: 768px) and (max-width: 849px) {
  .Dashboard-avatar-16 {
    margin-left: 16% !important;
    margin-right: -16% !important;
  }

  .MuiTypography-h6-95 {
    font-size: 1.35rem !important;
  }
}

@media only screen and (min-width: 850px) and (max-width: 992px) {
  .Dashboard-avatar-16 {
    margin-left: 22% !important;
    margin-right: -22% !important;
  }

  .MuiTypography-h6-95 {
    font-size: 1.37rem !important;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1140px) {
  .Dashboard-avatar-16 {
    margin-left: 28% !important;
    margin-right: -28% !important;
  }

  .MuiTypography-h6-95 {
    font-size: 1.37rem !important;
  }
}

@media only screen and (min-width: 1140px) and (max-width: 1375px) {
  .Dashboard-avatar-16 {
    margin-left: 31% !important;
    margin-right: -28% !important;
  }

  .MuiTypography-h6-95 {
    font-size: 1.4rem !important;
  }
}

@media only screen and (min-width: 1376px) {
  .Dashboard-avatar-16 {
    margin-left: 33% !important;
    margin-right: -33% !important;
  }

  .MuiTypography-h6-95 {
    font-size: 1.4rem !important;
  }
}

#avatar {
  display: inline-block;
}