.App {
    text-align: center;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue
  }
  
.login-text {
    font-size: 14px;
    padding-left: 5px;
    text-transform: lowercase;
}  
  