.listBtn:hover {
  color: #FF5C62 !important;
}

.listIcon {
  transition: transform 0.35s ease-in-out !important;
  color: black !important;
}

.listIcon:hover {
  color: #FF5C62 !important;
  transform: scale(1.25);
}

.listBtn:hover .listIcon {
  color: #FF5C62 !important;
  transform: scale(1.25);
}

.active .listIcon {
  color: #FF5C62 !important;
  transform: scale(1.25);
}

.active .listBtn .listIcon {
  color: #FF5C62 !important;
  transform: scale(1.25);
}

.sidenav-contents {
  padding-top: 15%;
  padding-bottom: 15%;
}

.footer {
	color: black;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #F7F4E9;
  height: 100px;
  margin: 0px;
  width: 100vw;
}

.footer p {
  font-size: 0.87rem;
  font-family: 'Roboto', sans-serif;
}

.footer a {
	color: #FF5C62;
}

.sticky-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}