.add-contact {
  margin-top: 3.5%;
  max-width: 140px;
  background: linear-gradient(43deg, #3552b2, #6d5cc0, #a767cf, #c06cd6);
  background-size: 400% 400%;
  -webkit-animation: Gradient 3.75s ease infinite;
  -moz-animation: Gradient 3.75s ease infinite;
  animation: Gradient 3.75s ease infinite;
}
  
.add-contact:hover {
  box-shadow: 0 3px 5px 2px rgba(226, 33, 243, 0.3);
  -webkit-animation: Gradient 2.75s ease infinite;
  -moz-animation: Gradient 2.75s ease infinite;
  animation: Gradient 2.75s ease infinite;
}

.contacts-section {
  background-color: #F7F4E9;
}
