.footer {
	color: black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 18px;
    background-color: #F7F4E9;
    height: 100px;
    margin: 0px;
    width: 100%;
}

.footer a {
	color: #FF5C62;
}

.sticky-footer{
  position: absolute;
  bottom: 0;
}